<section class="pb-8 pt-4 md:pb-12 md:pt-6 lg:pb-16">
  <app-container customClass="">
    @if (recipe.data) {
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-6 lg:gap-8">
        <div class="relative aspect-square overflow-hidden rounded-lg">
          <img
            ngSrc="{{ recipe.data.thumbnail }}"
            priority
            fill
            class="h-auto w-full object-cover"
          />
        </div>
        <div>
          <h1 class="text-3xl font-semibold text-gray-800 md:text-4xl">
            {{ recipe.data.name }}
          </h1>
          <div
            class="mt-2 flex items-center gap-3 text-xs font-bold uppercase md:mt-4 md:text-sm"
          >
            <a
              class="rounded-sm bg-orange-500 px-3 py-1 text-white"
              routerLink="/categories/{{ recipe.data.category }}"
            >
              {{ recipe.data.category }}
            </a>
            <p class="rounded-sm bg-gray-200 px-3 py-1">
              {{ recipe.data.origin }}
            </p>
          </div>
          <div class="mt-4 md:mt-6 lg:mt-8">
            <h3 class="text-lg font-semibold text-gray-800 md:text-xl">
              Ingredients
            </h3>
            <div class="mt-2 flex flex-col sm:flex-row sm:gap-8">
              <ol class="list-inside list-disc">
                @for (
                  ingredient of recipe.data.ingredients.firstHalf;
                  track $index
                ) {
                  <li class="ml-4">
                    {{ ingredient }}
                  </li>
                }
              </ol>
              <ol class="list-inside list-disc">
                @for (
                  ingredient of recipe.data.ingredients.secondHalf;
                  track $index
                ) {
                  <li class="ml-4">
                    {{ ingredient }}
                  </li>
                }
              </ol>
            </div>
          </div>
          @if (recipe.data.youtube) {
            <div class="mt-4 md:mt-6 lg:mt-8">
              <h3 class="text-lg font-semibold text-gray-800 md:text-xl">
                Youtube
              </h3>
              <a
                href="{{ recipe.data.youtube }}"
                class="text-blue-600"
                target="_blank"
                >{{ recipe.data.youtube }}</a
              >
            </div>
          }
        </div>
      </div>
      <div class="mt-4 md:mt-6 lg:mt-8">
        <h3 class="text-lg font-semibold text-gray-800 md:text-xl">
          Instructions
        </h3>
        <p class="mt-2 text-justify">
          {{ recipe.data.instructions }}
        </p>
      </div>
    }
    @if (recipe.loading) {
      <div class="mt-4 text-center md:mt-6 lg:mt-10">
        <app-loading-spinner></app-loading-spinner>
      </div>
    }

    @if (relatedRecipes.loading) {
      <div class="mt-6 text-center">
        <app-loading-spinner></app-loading-spinner>
      </div>
    }
    @if (relatedRecipes.data) {
      <div class="mt-6 md:mt-8 lg:mt-10">
        <h2 class="text-xl font-semibold md:text-2xl">
          {{ recipe.data?.category }} Recommendations
        </h2>
        <ul
          class="mt-4 grid grid-cols-2 gap-3 sm:grid-cols-3 sm:gap-5 lg:grid-cols-4 lg:gap-7 xl:grid-cols-5"
        >
          @for (recipe of relatedRecipes.data; track +recipe.id) {
            <app-recipe-card [recipe]="recipe"></app-recipe-card>
          }
        </ul>
      </div>
    }
  </app-container>
</section>
