<li class="aspect-video w-full rounded-md bg-white ring-1 ring-gray-950/10">
  <a
    routerLink="/categories/{{ cat.name === 'More' ? '' : cat.name }}"
    class="flex h-full w-full flex-col items-center justify-center rounded-md outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-orange-600 focus-visible:ring-offset-1"
  >
    @if (cat.thumbnail) {
      <img
        src="{{ cat.thumbnail }}"
        alt="category image"
        class="h-auto w-[50%]"
      />
    } @else {
      <fa-icon [icon]="faEllipsisH" class="text-xl font-semibold"></fa-icon>
    }
    <p
      class="text-xs font-semibold text-gray-700 sm:text-sm {{
        isCategoriesPage ? 'md:text-base' : ''
      }}"
    >
      {{ cat.name }}
    </p>
  </a>
</li>
