<section
  class="relative aspect-square w-full bg-hero bg-cover bg-center bg-no-repeat sm:aspect-video"
>
  <div class="absolute inset-0 h-full bg-black/60">
    <app-container
      customClass="gap-3 h-full flex flex-col items-center justify-center text-center text-white"
    >
      <h1 class="text-3xl font-bold md:text-5xl">
        Seach Among <span class="bg-orange-500/85">Thousand</span> Recipes.
        <a
          href="/#search"
          class="inline-block animate-bounce text-3xl md:text-4xl"
          ><fa-icon [icon]="faCircleChevronDown"></fa-icon>
        </a>
      </h1>

      <p class="text-sm md:text-lg">
        Explore our vast recipe collection for all tastes and skill levels. Find
        your next favorite dish effortlessly.
      </p>
    </app-container>
  </div>
</section>
