<section class="pb-8 pt-4 md:pb-12 md:pt-6 lg:pb-16">
  <app-container>
    <h1 class="text-xl font-semibold md:text-3xl lg:text-4xl">
      All Recipe Categories
    </h1>
    <ul
      class="mt-4 grid grid-cols-2 gap-3 sm:grid-cols-3 md:mt-6 md:grid-cols-4 md:gap-5 lg:mt-8"
    >
      @for (cat of categories; track cat.id) {
        <app-category-card
          [cat]="cat"
          [isCategoriesPage]="true"
        ></app-category-card>
      }
    </ul>

    <!-- <h1>{{ testService.firstName }}</h1>
    <button (click)="testService.changeName()">change</button> -->
  </app-container>
</section>
