<app-hero></app-hero>
<section class="relative bg-gray-100 py-28 md:py-32">
  <app-container customClass="!max-w-2xl">
    <ul
      class="absolute -top-0 left-1/2 grid w-full max-w-[15rem] -translate-x-1/2 -translate-y-1/2 grid-cols-2 gap-3 sm:max-w-[16rem] md:max-w-xl md:grid-cols-4 md:gap-6 lg:max-w-2xl"
    >
      @for (cat of categoriesOverview; track cat.id) {
        <app-category-card [cat]="cat"></app-category-card>
      }
    </ul>
    <div class="relative">
      <form id="search" (submit)="$event.preventDefault()" class="w-full">
        <label
          class="flex items-center gap-3 rounded-md bg-white px-4 py-2 pr-2 [&:has(.input:focus-visible)]:ring-2 [&:has(.input:focus-visible)]:ring-orange-600"
          for="input"
        >
          <input
            id="input"
            placeholder="Enter your recipe"
            class="input w-full outline-none"
            [formControl]="input"
          />
          <button
            type="button"
            (click)="input.setValue('')"
            class="button flex h-6 w-6 items-center justify-center rounded-full bg-white outline-none ring-[1.5px] ring-gray-950/10 focus-visible:ring-red-500 focus-visible:ring-offset-1"
          >
            <fa-icon [icon]="faXmark" class="text-xs font-semibold"></fa-icon>
          </button>
        </label>
      </form>
      @if (recipeResults.loading) {
        <div
          class="absolute left-1/2 top-full -translate-x-1/2 translate-y-2 text-center"
        >
          <app-loading-spinner></app-loading-spinner>
        </div>
      }
    </div>
  </app-container>
  <app-container customClass="mt-14 ">
    <ul
      class="grid grid-cols-2 gap-3 sm:grid-cols-3 sm:gap-5 lg:grid-cols-4 lg:gap-7 xl:grid-cols-5"
    >
      @for (recipe of paginatedData; track +recipe.id) {
        <app-recipe-card [recipe]="recipe"></app-recipe-card>
      }
    </ul>

    @if (recipeResults.error) {
      <p class="text-center text-sm text-red-700 md:text-xl">
        {{ recipeResults.error | json }}
      </p>
    }
    @if (recipeResults.data?.length === 0) {
      <p class="text-center text-sm font-semibold md:text-xl">
        Sorry, we couldn't find any recipes matching your search criteria.
      </p>
    }

    @if (recipeResults.data && recipeResults.data.length > 0) {
      <app-pagination
        [nextPage]="nextPage.bind(this)"
        [previousPage]="previousPage.bind(this)"
        [currentPage]="currentPage"
        [totalPages]="totalPages"
      ></app-pagination>
    }
  </app-container>
</section>
