<app-hero></app-hero>
<section class="relative bg-gray-100 py-28 md:py-32">
  <app-container customClass="!max-w-2xl">
    <ul
      class="absolute -top-0 left-1/2 grid w-full max-w-[15rem] -translate-x-1/2 -translate-y-1/2 grid-cols-2 gap-3 sm:max-w-[16rem] md:max-w-xl md:grid-cols-4 md:gap-6 lg:max-w-2xl"
    >
      @for (cat of categoriesOverview; track cat.id) {
        <app-category-card [cat]="cat"></app-category-card>
      }
    </ul>
    <form
      class="flex gap-3"
      id="search"
      (submit)="onSubmit($event, input.value)"
    >
      <input
        placeholder="Enter your recipe"
        class="w-full rounded-md bg-white px-4 py-2 outline-none ring-1 ring-gray-950/10 focus-visible:ring-2 focus-visible:ring-orange-500"
        #input
      />
      <button
        type="submit"
        class="h-10 w-10 rounded-md bg-white outline-none ring-1 ring-gray-950/10 focus-visible:ring-orange-500"
      >
        <fa-icon
          [icon]="faMagnifyingGlass"
          class="text-lg md:text-xl"
        ></fa-icon>
      </button>
    </form>
  </app-container>
  <app-container customClass="mt-6 md:mt-10">
    <ul
      class="grid grid-cols-2 gap-3 md:grid-cols-3 md:gap-5 lg:grid-cols-4 lg:gap-7 xl:grid-cols-5"
    >
      @for (recipe of recipeResults; track +recipe.id) {
        <app-recipe-card [recipe]="recipe"></app-recipe-card>
      }
    </ul>
    @if (loading) {
      <app-loading-spinner></app-loading-spinner>
    }
    @if (error) {
      <p class="text-center text-sm text-red-700 md:text-xl">
        {{ error | json }}
      </p>
    }
    @if (recipeResults?.length === 0) {
      <p class="text-center text-sm font-semibold md:text-xl">
        Sorry, we couldn't find any recipes matching your search criteria.
      </p>
    }
  </app-container>
</section>
