<section class="py-4 md:py-6 lg:py-32">
  <app-container customClass="mt-6 md:mt-10">
    <ul
      class="grid grid-cols-2 gap-3 sm:grid-cols-3 sm:gap-5 lg:grid-cols-4 lg:gap-7 xl:grid-cols-5"
    >
      @for (recipe of paginatedData; track +recipe.id) {
        <app-recipe-card [recipe]="recipe"></app-recipe-card>
      }
    </ul>

    @if (loading) {
      <app-loading-spinner></app-loading-spinner>
    }
    @if (error) {
      <p class="text-center text-sm text-red-700 md:text-xl">
        {{ error | json }}
      </p>
    }
    @if (recipesByCategoryResults?.length === 0) {
      <p class="text-center text-sm font-semibold md:text-xl">
        Sorry, we couldn't find any recipes matching your Category.
      </p>
    }

    @if (recipesByCategoryResults) {
      <app-pagination
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        [nextPage]="nextPage.bind(this)"
        [previousPage]="previousPage.bind(this)"
      ></app-pagination>
    }
  </app-container>
</section>
